<div class="container">
  <%= render 'categories/categories', categories: @post.categories %>
  <h1><%= @post.title %></h1>
  <div class="post-content">
    <%= @post.content %>
  </div><!-- post-content -->

</div><!-- container -->
